@import 'variables/variables';
@import 'color/color';
@import 'elements/elements';
@import 'layout/layout';

@import 'typography/typography';




body{
    margin: 0;
    padding: 0;
}

*{
    max-width: 100%;
    height: auto;
}