.page-id-9{
    .site-main{
        display: flex;

        h3{
            flex-basis: 30%;
        }

        .wp-block-image{
            flex-basis: 70%;
            display: flex;
            flex-wrap: wrap;

            .wp-block-image{
                max-width: 20%;
                height: auto;
            }
        }
    }
}