.site-header {
  width: 100%;
  max-width: 1440px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.site-header .custom-logo {
  width: 244px;
  height: 110px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.site-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2rem;
}

.site-header ul li {
  list-style-type: none;
  margin-left: 40px;
}

#metaslider-id-79 img {
  border-radius: 0 0 200px 200px;
}

#metaslider-id-79 .caption-wrap {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background: transparent;
  opacity: 1;
}

#metaslider-id-79 .caption-wrap .caption {
  text-align: right;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 550px;
}

#metaslider-id-79 .caption-wrap .caption h2 {
  margin-bottom: 1rem;
}

#metaslider-id-79 .caption-wrap .caption p {
  margin-right: 2rem;
}

#metaslider-id-79 .flex-control-nav {
  position: absolute;
  bottom: 1rem;
}

#metaslider-id-79 .flex-control-nav a {
  background: rgba(255, 255, 255, 0.5);
}

#metaslider-id-79 .flex-control-nav a.flex-active {
  background: white;
}

.category-appdescription {
  margin-top: 5rem;
}

.category-appdescription .wp-block-group__inner-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0 1rem;
  max-width: 1440px;
  left: 0;
  right: 0;
  margin: auto;
}

.category-appdescription .wp-block-group__inner-container .wp-block-group__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.category-appdescription .wp-block-group__inner-container .wp-block-group__inner-container h2 {
  margin: 0;
}

.category-appdescription .wp-block-group__inner-container .wp-block-group__inner-container p {
  padding-left: 2rem;
  width: 30vw;
}

.category-appdescription .wp-block-group__inner-container .wp-block-image {
  margin-bottom: 0;
}

.category-appdescription .wp-block-cover {
  margin: 0;
  position: relative;
  min-height: 200px;
}

.category-appdescription .wp-block-cover .wp-block-cover__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.category-appdescription .wp-block-cover .wp-block-cover__inner-container h2,
.category-appdescription .wp-block-cover .wp-block-cover__inner-container p {
  margin: 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features article {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-flex-basis .5s linear .1s;
  transition: -webkit-flex-basis .5s linear .1s;
  transition: flex-basis .5s linear .1s;
  transition: flex-basis .5s linear .1s, -webkit-flex-basis .5s linear .1s, -ms-flex-preferred-size .5s linear .1s;
}

.features article img {
  max-width: 279px;
  max-height: 602px;
}

.features article .entry-content {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features article .entry-content p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
}

.features article:hover {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.features article:hover .entry-content {
  position: relative !important;
  white-space: normal;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity .7s linear .6s, height .001s linear .5s, width .001s linear .5s;
  transition: opacity .7s linear .6s, height .001s linear .5s, width .001s linear .5s;
}

.category-download .entry-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  margin: 3rem 0;
}

.category-download .entry-content .wp-block-image:first-of-type {
  position: absolute;
  z-index: -5;
  right: -25%;
  top: -50%;
}

.category-download .entry-content figure {
  margin: 0;
}

.category-download .entry-content .wp-block-group__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.category-download .entry-content .wp-block-group__inner-container h2 {
  margin: 0;
}

.category-download .entry-content .wp-block-group__inner-container p {
  padding-left: 2rem;
}

.category-download .entry-content div.wp-block-image figure {
  margin: 0 auto;
}

.category-aboutus {
  background-image: url(imgs/aboutUs/background.png);
  height: 550px;
  padding: 6rem 3rem;
}

.category-aboutus h2 {
  margin: 0 0 2rem 5rem;
}

.category-aboutus .blocks-gallery-grid {
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-aboutus .blocks-gallery-grid li {
  margin: 2rem;
}

.category-aboutus .blocks-gallery-grid li:nth-of-type(2n+1) {
  margin-bottom: 8rem;
}

.category-aboutus .blocks-gallery-grid li:nth-of-type(2n) {
  margin-top: 8rem;
}

.category-aboutus .blocks-gallery-grid li .blocks-gallery-item__caption {
  background: none;
}

.category-aboutus .blocks-gallery-grid li .blocks-gallery-item__caption strong {
  display: inline-block;
  margin-bottom: 1rem;
}

#blog {
  margin: 2rem 4rem;
}

#blog h2 {
  padding: 1rem;
  margin: 0;
}

#blog .blogPosts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

#blog .blogPosts article {
  position: relative;
}

#blog .blogPosts article .attachment-post-thumbnail {
  max-height: 425.5px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

#blog .blogPosts article .tags a {
  background-color: #49006F;
  padding: .5rem 1rem;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.category-contact {
  margin: 0 8rem;
  padding: 10rem 0;
}

.category-contact .entry-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.category-contact .entry-content .wp-block-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-contact .entry-content .wp-block-group h2 {
  margin: 0;
}

.category-contact .entry-content .wp-block-group p {
  margin: 1rem 3rem;
}

.category-contact .entry-content .nf-form-wrap .nf-form-fields-required {
  display: none;
}

.category-contact .entry-content .nf-form-wrap .ninja-forms-field {
  border-radius: 55.7px;
  border: solid 1px #d1d1d1;
  background: #ffffff;
}

.category-contact .entry-content .nf-form-wrap #nf-field-3 {
  border-radius: 23px;
}

.category-contact .entry-content .nf-form-wrap #nf-field-5 {
  display: block;
  margin: 0 auto;
  width: 192.1px;
  height: 47.7px;
  border-radius: 55.7px;
  background-color: #EA526F;
}

.site-footer {
  background-color: #49006F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.site-footer .custom-logo {
  max-width: 100px;
}

.site-footer #menu-footer {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-footer #menu-footer li {
  padding: .5rem 1rem;
}

.site-footer #menu-footer li a {
  text-decoration: none;
  color: #ffffff;
}

html {
  overflow: auto;
}

html body {
  overflow: hidden;
}

.site-header ul li a {
  font-family: "SF Compact Rounded";
  font-size: 30px;
  letter-spacing: -1.5px;
  color: #ffffff;
  text-decoration: none;
}

.site-header ul li a:hover {
  color: #EA526F;
}

#metaslider-id-79 .caption-wrap h2 {
  font-family: "SF Compact Rounded";
  color: #FFD23F;
  font-size: 90px;
  line-height: 90px;
  font-weight: 500;
}

#metaslider-id-79 .caption-wrap h2 span {
  color: white;
}

#metaslider-id-79 .caption-wrap p {
  font-family: "SF Compact Text";
  font-size: 22px;
  line-height: 30px;
  font-weight: lighter;
}

.category-appdescription .wp-block-group__inner-container h2 {
  font-family: "SF Compact Rounded";
  font-size: 5rem;
  line-height: 5rem;
}

.category-appdescription .wp-block-group__inner-container p {
  font-family: "SF Compact Text";
  font-size: 22px;
  line-height: 30px;
}

.category-appdescription .wp-block-cover .wp-block-cover__inner-container {
  font-family: "SF Compact Rounded";
  font-size: 3.5rem;
}

.features article .entry-content {
  font-family: "SF Compact Text";
  color: #333333;
  line-height: 2rem;
}

.category-download .entry-content .wp-block-group__inner-container h2 {
  font-family: "SF Compact Rounded";
  font-size: 4rem;
  line-height: 70px;
}

.category-download .entry-content .wp-block-group__inner-container p {
  font-family: "SF Compact Text";
  font-size: 1.5rem;
  line-height: 30px;
}

.category-aboutus h2 {
  font-family: "SF Compact Rounded";
  font-size: 90px;
}

.category-aboutus .blocks-gallery-grid .blocks-gallery-item__caption {
  position: absolute;
  bottom: -120px;
  font-family: "SF Compact Text";
  font-size: 20px;
  color: #000;
  letter-spacing: -0.3px;
  line-height: 24px;
}

.category-aboutus .blocks-gallery-grid .blocks-gallery-item__caption strong {
  font-family: "SF Compact Rounded";
  font-size: 31px;
  color: #EA526F;
  line-height: 31px;
}

#blog h2 {
  font-family: "SF Compact Rounded";
  color: #49006F;
  font-size: 5rem;
}

#blog article .entry-content .post-title a {
  text-decoration: none;
  font-family: "SF Compact Rounded";
  font-size: 2rem;
  color: #49006F;
}

#blog article .entry-content p {
  font-family: "SF Compact Text";
  color: #333333;
  line-height: 30px;
}

#blog article .tags a {
  text-decoration: none;
  font-family: "SF Compact Rounded";
  color: #ffffff;
}

.category-contact .entry-content .wp-block-group h2 {
  font-family: "SF Compact Rounded";
  font-size: 90px;
  line-height: 90px;
}

.category-contact .entry-content .wp-block-group p {
  font-family: "SF Compact Text";
  font-size: 22px;
  line-height: 30px;
}

.category-contact .entry-content .nf-form-wrap .ninja-forms-field {
  font-family: "SF Compact Text";
  color: #000;
}

.category-contact .entry-content .nf-form-wrap #nf-field-5 {
  color: #ffffff !important;
}

.category-contact .entry-content .nf-form-wrap .nf-error-msg {
  font-family: "SF Compact Text";
}

.site-footer * {
  font-family: "SF Compact Rounded";
  color: #ffffff;
  font-weight: lighter;
}

.site-footer #menu-footer li a {
  text-decoration: none;
  color: #ffffff;
}

.site-footer #menu-footer li a:hover {
  color: #EA526F;
}

body {
  margin: 0;
  padding: 0;
}

* {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */