// BLOG ==============================
#blog{
    article{
    // CONTENT
        .entry-content{
            .post-title{
                a{
                    text-decoration: none;
                    font-family: $SFC_Rounded;
                    font-size: 2rem;
                    color: $purple;
                }
            }
        }

        .tags{
            a{
                text-decoration: none;
                font-family: $SFC_Rounded;
                color: $white;
            }
        }
    }

    button{
        a{
            font-family: $SFC_Rounded;
            color: $black;
            text-decoration: none;

            &:hover{
                color: $red;
            }
        }
    }
}