// BLOG ==============================
#blog{
    // 'Buddy News'
    h2{
        font-family: $SFC_Rounded;
        color: $purple;
        font-size: 5rem;
    }

    article{
    // CONTENT
        .entry-content{
            .post-title{
                a{
                    text-decoration: none;
                    font-family: $SFC_Rounded;
                    font-size: 2rem;
                    color: $purple;
                }
            }

            p{
                font-family: $SFC;
                color: #333333;
                line-height: 30px;
            }
        }

        .tags{
            a{
                text-decoration: none;
                font-family: $SFC_Rounded;
                color: $white;
            }
        }
    }
}