// CATEGORY ===============================
.category-contact{
    .entry-content{
        // FORM
        .nf-form-wrap{
            .ninja-forms-field{
                font-family: $SFC;
                color: $black;

            }
            #nf-field-5{
                color: $white !important;
            }

            .nf-error-msg{
                font-family: $SFC;
            }
    }
    }}