// DOWNLOAD =======================================================
.category-download{
    .entry-content{
        // "Download now..."
        .wp-block-group__inner-container{
            
            h2{
                font-family: $SFC_Rounded;
                font-size: 4rem;
                line-height: 70px;
            }

            p{
                font-family: $SFC;
                font-size: 1.5rem;
                line-height: 30px;
            }
        }
    }
}