// FEATURES =================================
.features{
    article{
        // CONTENT
        .entry-content{
            font-family: $SFC;
            color: #333333;
            line-height: 2rem;
        }
    }
}