// HEADER ==================================================================
.site-header{
    
    // MENU =====
    ul{
        li{
            a{
                font-family: $SFC_Rounded;
                font-size: 30px;
                letter-spacing: -1.5px;
                color: $white;
                text-decoration: none;
            }

            a:hover{
                color: $red;
            }
        }
    }
}