// TEAM ==============================================
.category-aboutus{
    // NAME AND ROLE FOR MEMBER
    .blocks-gallery-grid{
        .blocks-gallery-item__caption{
            font-family: $SFC;
            font-size: 1.15rem;
            font-weight: 300;
            color: $black;

            strong{
                font-family: $SFC_Rounded;
                font-size: 2rem;
                font-weight: 500;
                color: $red;
                line-height: 1;
            }
        }
    }
}