// FOOTER ============================
.site-footer{
    background-color: $purple;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    // LOGO
    .custom-logo{
        max-width: 100px;
    }


    // MENU
    #menu-footer{
        list-style-type: none;
        display: flex;

        li{
            padding: .5rem 1rem;

            
            a{
                text-decoration: none;
                color: $white;
            }
        }

        
    }
}