// HEADER ==================================================================
.site-header{
    width: 100%;
    max-width: 1440px;
    
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    // LOGO ======
    .custom-logo{
        width: 244px;
        height: 110px;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    // MENU =====
    ul{
        display: flex;
        padding-right: 2rem;

        li{
            list-style-type: none;
            margin-left: 40px;
        }
    }
}